/* Empty file for template. Remember to edit only this file and not the HTML file */
#zen-intro {
  background-color: burlywood;
  color: black
}

.main.supporting {
  background-color: aliceblue;
  color: brown;
  font-size: large;
}


  a:link {
    color: rosybrown;
  }

  a:visited {
    color: aqua
  }

.summary {
  background-color: whitesmoke;
}
.preamble {
 color: black
} 

::selection {
  color: red;
  background: blue;
}

:root {
  background-color: brown;
  padding: 5px;
}

.participation {
  background-color: salmon
}

.benefits {
  background-color: antiquewhite;
}

.requirements { 
  background-color: aquamarine
}

.sidebar {
  background-color: yellowgreen;
}

.wrapper {
  background-color: azure
}

.design-selection {
  background-color: beige
}

.archives {
  background-color: paleturquoise
}

.next {
color: red;
}

.viewall {
color: green
}

.zen-resources {

}

.resources {
color: blue
}

.view-css {
background-color: lightcyan;
}

.css-resources {

}

.zen-faq {

}

.zen-submit {

}

.zen-translation {

}

.extra1 {

}

.extra2 {

}

.extra3 {

}

.extra4 {

}

.extra5 {

}

.extra6 {

}

a:active {
  background-color: yellow;
}

a:hover {
  background-color: yellowgreen;
  font-size: 18px;
}

p:first-child {
  background-color: papayawhip;
}

p:last-child {
  background-color: palegoldenrod;
}

li:last-child {
  background-color: palegoldenrod;
}

:nth-child(4) {
  background-color: lightgoldenrodyellow;
}

div:nth-child(2) {
  background-color: lavenderblush;
}

li:nth-child(2) {
  background-color: lavender;
}

:not(p) {
  color: darkgray;
}



box:empty {
  background-color: blue;
}

h1 {
  border: 2px solid blue;
  background-color: lightblue
}

p {
  background-color: lightcyan;
}

.intro {
  background-color:blue
}

a[target="_blank"] {
  background-color: blue;
}


[role="banner"] {
  background: floralwhite;
}

[role="article"] {
  background: whitesmoke;
}